---
import { TECHNOLOGIES } from "./../../const/technologies";
---

<section class="py-16 bg-black border-t border-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold text-white text-center mb-8">
      Tecnologías que dominamos
    </h2>
    <p class="text-center text-gray-500 mb-8">
      Con vasta experiencia y mucho amor
    </p>
    <div class="flex flex-wrap justify-center items-center gap-8">
      {
        TECHNOLOGIES.map((tech) => (
          <div class="text-blue-500 text-xl font-semibold bg-gray-900 px-4 py-2 rounded-lg">
            {tech.name}
          </div>
        ))
      }
    </div>
    <div class="flex flex-wrap justify-center items-center gap-8">
      {
        TECHNOLOGIES.map((tech) => (
          <img class="w-24" src={tech.image} alt={tech.name} />
        ))
      }
    </div>
  </div>
</section>
