---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <div
    class="bg-black text-white min-h-screen flex items-center justify-center pl-4 pt-[61px]"
  >
    <h1 class="text-4xl">JUMADESU0210 PUTO</h1>
  </div>
</Layout>
