---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <div
    class="bg-black text-white min-h-screen columns-3 pt-[61px] space-x-2 p-4"
  >
    <div>
      <div
        class="text-4xl flex items-center p-3 justify-center flex-col space-y-4"
      >
        <h2 class="text-3xl font-bold pb-4">Juan Pablo Robayo</h2>
        <img
          class="w-32 h-32 rounded-full mt-3"
          src="https://i.pinimg.com/736x/d8/e3/04/d8e3040372030c633df7f7ee5034dfef.jpg"
          alt="Juan Pablo"
        />
        <hr class="color-white block min-w-full pt-[40px]" />
      </div>

      <div>
        <span class="font-extrabold text-sm block p-2">Perfil:</span>
        <h3 class="text-sm p-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          aliquid et ipsum perspiciatis, sunt ipsa nemo recusandae quae expedita
          tenetur voluptate rem quasi quod molestias. Exercitationem eos nisi
          illo magnam.
        </h3>

        <span class="font-extrabold text-sm block p-2">Habilidades:</span>
        <ul class="text-sm p-4">
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
        </ul>

        <span class="font-extrabold text-sm block p-2">Experiencia:</span>
        <h3 class="text-sm p-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          aliquid et ipsum perspiciatis, sunt ipsa nemo recusandae quae expedita
          tenetur voluptate rem quasi quod molestias. Exercitationem eos nisi
          illo magnam.
        </h3>

        <span class="font-extrabold text-sm block p-2">Formas de contacto:</span
        >
        <span class="text-sm block pl-4 font-bold">Celular:</span>
        <a href="#" class="text-sm pl-5 text-blue-500">900000000</a>
        <span class="text-sm block pl-4 font-bold">Linkdin:</span>
        <a href="#" class="text-sm pl-5 text-blue-500">ermamapitos./</a>
        <span class="text-sm block pl-4 font-bold">Instagram:</span>
        <a href="#" class="text-sem pl-5 text-blue-500">joseMabuelPere</a>
      </div>
    </div>
    <div>
      <div
        class="text-4xl flex items-center p-3 justify-center flex-col space-y-4"
      >
        <h2 class="text-3xl font-bold pb-4">Juan Manuel De la Torre</h2>
        <img
          class="w-32 h-32 rounded-full mt-3"
          src="https://i.pinimg.com/736x/d8/e3/04/d8e3040372030c633df7f7ee5034dfef.jpg"
          alt="Juan Manuel"
        />
        <hr class="color-white block min-w-full pt-[40px]" />
      </div>

      <div>
        <span class="font-extrabold text-sm block p-2">Perfil:</span>
        <h3 class="text-sm p-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          aliquid et ipsum perspiciatis, sunt ipsa nemo recusandae quae expedita
          tenetur voluptate rem quasi quod molestias. Exercitationem eos nisi
          illo magnam.
        </h3>

        <span class="font-extrabold text-sm block p-2">Habilidades:</span>
        <ul class="text-sm p-4">
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
        </ul>

        <span class="font-extrabold text-sm block p-2">Experiencia:</span>
        <h3 class="text-sm p-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          aliquid et ipsum perspiciatis, sunt ipsa nemo recusandae quae expedita
          tenetur voluptate rem quasi quod molestias. Exercitationem eos nisi
          illo magnam.
        </h3>

        <span class="font-extrabold text-sm block p-2">Formas de contacto:</span
        >
        <span class="text-sm block pl-4 font-bold">Celular:</span>
        <a href="#" class="text-sm pl-5 text-blue-500">900000000</a>
        <span class="text-sm block pl-4 font-bold">Linkdin:</span>
        <a href="#" class="text-sm pl-5 text-blue-500">ermamapitos./</a>
        <span class="text-sm block pl-4 font-bold">Instagram:</span>
        <a href="#" class="text-sem pl-5 text-blue-500">joseMabuelPere</a>
      </div>
    </div>
    <div>
      <div
        class="text-4xl flex items-center p-3 justify-center flex-col space-y-4"
      >
        <h2 class="text-3xl font-bold pb-4">Juan Fernando Álvarez</h2>
        <img
          class="w-32 h-32 rounded-full mt-3"
          src="https://i.pinimg.com/736x/d8/e3/04/d8e3040372030c633df7f7ee5034dfef.jpg"
          alt="Juan Fernando"
        />
        <hr class="color-white block min-w-full pt-[40px]" />
      </div>

      <div>
        <span class="font-extrabold text-sm block p-2">Perfil:</span>
        <h3 class="text-sm p-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          aliquid et ipsum perspiciatis, sunt ipsa nemo recusandae quae expedita
          tenetur voluptate rem quasi quod molestias. Exercitationem eos nisi
          illo magnam.
        </h3>

        <span class="font-extrabold text-sm block p-2">Habilidades:</span>
        <ul class="text-sm p-4">
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
          <li>mamar pitos</li>
        </ul>

        <span class="font-extrabold text-sm block p-2">Experiencia:</span>
        <h3 class="text-sm p-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          aliquid et ipsum perspiciatis, sunt ipsa nemo recusandae quae expedita
          tenetur voluptate rem quasi quod molestias. Exercitationem eos nisi
          illo magnam.
        </h3>

        <span class="font-extrabold text-sm block p-2">Formas de contacto:</span
        >
        <span class="text-sm block pl-4 font-bold">Celular:</span>
        <a href="#" class="text-sm pl-5 text-blue-500">900000000</a>
        <span class="text-sm block pl-4 font-bold">Linkdin:</span>
        <a href="#" class="text-sm pl-5 text-blue-500">ermamapitos./</a>
        <span class="text-sm block pl-4 font-bold">Instagram:</span>
        <a href="#" class="text-sem pl-5 text-blue-500">joseMabuelPere</a>
      </div>
    </div>
  </div>
</Layout>
