---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/homepage/Hero.astro";
import DashboardPreview from "../components/homepage/DashboardPreview.astro";
import Logos from "../components/homepage/Logos.astro";
import Features from "../components/homepage/Features.astro";
import FAQ from "../components/homepage/FAQ.astro";
import Contact from "../components/contact/Contact.astro";
import BasicInformation from "../components/BasicInformation.astro";
---

<Layout title="Metploy - HR Management Platform">
  <main class="min-h-screen bg-black">
    <Hero />
    <DashboardPreview />
    <Logos />
    <Features />
    <FAQ />
    <Contact />
    <BasicInformation />
  </main>
</Layout>
