---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import DashboardPreview from "../components/DashboardPreview.astro";
import Logos from "../components/Logos.astro";
import Features from "../components/Features.astro";
import FAQ from "../components/FAQ.astro";
---

<Layout title="Metploy - HR Management Platform">
  <main class="min-h-screen bg-black">
    <Hero />
    <DashboardPreview />
    <Logos />
    <Features />
    <FAQ />
  </main>
</Layout>
