---
import { Button } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea";
---

<form action="" class="space-y-4">
  <div>
    <label for="name" class="block text-sm font-medium text-gray-300 mb-1"
      >Nombre</label
    >
    <Input type="text" id="name" name="name" placeholder="Tu nombre" required />
  </div>
  <div>
    <label for="email" class="block text-sm font-medium text-gray-300 mb-1"
      >Correo electrónico</label
    >
    <Input
      type="email"
      id="email"
      name="email"
      placeholder="tu@email.com"
      required
    />
  </div>
  <div>
    <label for="message" class="block text-sm font-medium text-gray-300 mb-1"
      >Mensaje</label
    >
    <Textarea
      id="message"
      name="message"
      placeholder="Escribe tu mensaje aquí"
      rows={4}
      required
    />
  </div>
  <Button type="submit" variant="default">Enviar Mensaje</Button>
</form>

<script>
  const form = document.querySelector("form");
  form.addEventListener("submit", (e) => {
    e.preventDefault();

    alert("Gracias por tu mensaje. Te contactaremos pronto.");
    form.reset();
  });
</script>
