---

---

<section class="pb-20 bg-black">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="bg-gray-900 rounded-xl overflow-hidden shadow-2xl border border-gray-800"
    >
      <div class="p-2">
        <img
          src="./../../src/assets/images/banner.jpg"
          alt="Dashboard Preview"
          class="rounded-lg w-full"
        />
      </div>
    </div>
  </div>
</section>
