---

---



<form action="" class="space-y-2">
    <div>
        <label for="name" class="block font-semibold mb-1">Nombre:</label>
    <input 
        type="text"
        id="name"
        name="name"
        placeholder="Escribe tu nombre"
        class="w-full p-2 bg-gray-800 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>


    <div>
        <label for="email" class="block font-semibold mb-1">Correo electrónico:</label>
    <input 
        type="text"
        id="email"
        name="email"
        placeholder="pepitoperez@gmail.com"
        class="w-full p-2 bg-gray-800 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>


    <div>
        <label for="message" class="block font-semibold mb-1">
            Asunto: 
        </label>
        <textarea 
            name="message" 
            id="message"
            rows="4"
            placeholder="Escribe tu mensaje aquí"
            class="w-full p-2 bg-gray-800 text-white rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
    </div>



    <button 
          type="submit" 
          class="w-full bg-blue-500 text-white py-2 rounded-lg font-semibold hover:bg-blue-600 transition">
          Enviar mensaje
        </button>
</form>