---
interface Props {
  name: string;
  image: string;
}

const { name, image } = Astro.props;

---

<div class="h-full w-[400px] m-2 flex-shrink-0 cursor-pointer">
  <div
    class="overflow-hidden mb-4 flex flex-wrap justify-center items-center h-[250px]"
  >
    <img class="w-[200px] h-[200px]" src={image} alt="" />
  </div>
  <div class="flex flex-wrap justify-center items-center gap-8">
    <div class="text-blue-500 text-xl font-semibold px-4 py-2 rounded-lg">
      {name}
    </div>
  </div>
</div>
