---
interface Props {
  name: string;
  image: string;
}

const { name, image } = Astro.props;
---

<div class="flex-shrink-0 w-[250px] h-[250px] m-4 perspective-1000">
  <div class="w-full h-full transition-transform duration-500">
    <div
      class="absolute w-full h-full bg-gray-800 rounded-xl flex items-center justify-center"
    >
      <img
        class="w-[150px] h-[150px] object-contain"
        src={image}
        alt={`Logo de ${name}`}
      />
    </div>
  </div>
</div>

<style>
  .perspective-1000 {
    perspective: 1000px;
  }
</style>
